body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo del encabezado */
header {
    margin-bottom: 20px;
}

header h1 {
    color: #333;
    font-size: 2em;
    text-align: center;
}

/* Contenedor principal con barra lateral y contenido central */
.container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    height: 80vh;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo de la barra lateral */
.sidebar {
    width: 30%;
    background-color: #4CAF50;
    padding: 20px;
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
}

.config-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.config-list li {
    margin: 10px 0;
}

.config-list li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    padding: 10px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.config-list li a:hover {
    background-color: #333;
    color: #dabbbbbe;
}

/* Estilo de las opciones de configuración en el centro */
.config-options {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.config-options ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.config-options li {
    margin: 20px 0;
}

.config-options label {
    font-size: 1.2em;
    margin-right: 10px;
}

input[type="range"] {
    width: 200px;
}

select {
    padding: 5px;
    font-size: 1.1em;
}

/* Ajustes responsivos */
@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        border-radius: 10px 10px 0 0;
    }

    .config-options {
        width: 100%;
    }
}
/* Estilos para el modo noche */
body.noche, .sidebar.noche, nav ul.noche {
    background-color: #121212;
    color: #fff;
}

.sidebar.noche a, nav ul.noche a {
    color: #fff;
}

.sidebar.noche a:hover, nav ul.noche a:hover {
    background-color: #333;
    color: #dabbbbbe;
}
