/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #eee5e5;
}

#sidebar {
    width: 250px;
    background-color: #f4f4f4;
    color: black;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

#sidebar .logo {
    padding: 20px;
    text-align: right;
    font-size: 24px;
    background-color: #f4f4f4;
}

#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 10px;
}

#sidebar ul li {
    padding: 15px 20px;
}

#sidebar ul li a {
    color: black;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, border-radius 0.3s ease;
}

#sidebar ul li a:hover {
    background-color: #47ff2bb0;
    border-radius: 100px;
    box-shadow: -4px -1px 0px 10px #47ff2bb0;
}

#main-content {
    margin-left: 250px;
    padding: 20px;
    box-sizing: border-box;
    max-width: 1000px;
}

/* Estilos de las secciones */
.section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centrar texto horizontalmente */
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

h2 {
    font-size: 2em;
    margin-bottom: 15px;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
}

ul {
    list-style-type: disc;
    padding-left: 40px;
    margin-bottom: 20px;
}

li {
    margin-bottom: 10px;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


